<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="normalUser" class="test113.NormalUser"/>
    <bean id="tempUser" class="test113.TempUser"/>

    <bean id="superUser" class="test113.SuperUser">
        <property name="normalUserProperty" ref="normalUser"/>
        <property name="tempUserProperty" ref="tempUser"/>
    </bean>

</beans>